html, body {
    margin: 0;
    overflow: hidden;
    font-family: 'Space Mono', monospace;
    height: 100vh;
    width: 150vw;
    background: url("images/stars.png");
    background-size: cover;
}

h2 {margin: 0.5em;}

.container {
    position: absolute;
    height: 100%;
    width: 100%;
}
.turntable {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    transition: all 2s;
    overflow: inherit;
}

.turntable p {
    margin: 0;
    position: absolute;
    left: 49%;
    bottom: 50%;
    transform-origin: 0 100%;
    height: 52%;
    text-shadow: 0 0 2px green;
}

.planet {
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    -moz-box-shadow: 2px 2px 3px #111, inset 0 0 10px #111;
    -webkit-box-shadow: 2px 2px 3px #111, inset 0 0 10px #111; 
    box-shadow: 2px 2px 3px #111, inset 0 0 10px #111;
    z-index:1;
}

.planet:hover {
    -moz-box-shadow: 0 0 10px #eee, inset 0 0 10px #111;
    -webkit-box-shadow: 0 0 10px #eee, inset 0 0 10px #111; 
    box-shadow: 0 0 10px #eee, inset 0 0 10px #111;
}

.planet div {
    display: none;
}

.content {
    margin: 2px;
    border-radius: 2%;
    padding: 0.5em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    max-height: 99%;
}

.content img {
    width: 85%;
    height: auto;
    max-height: 100%;
    border: 2px solid #222;
    box-sizing: border-box;
}

.content ul {
    display: inline-block;
}

.flag {
    height: 40%;
    position: absolute;
    top: 12%;
    left:40%;
    transition: all 2s;
    z-index: -1;
}

#chronicle-content {
    font-family: 'Alegreya', serif;
}

#roboto-content {
    font-family: 'Roboto', sans-serif;
}

#farm-content {
    font-family: 'Irish Grover', cursive;
}

#blurb {
    position: absolute;
    margin:0;
    height: 100%;
    width: 45%;
    left: 50%;
    text-align: center;
    z-index: -1;
}

#center {
    height: 35rem;
    width: 35rem;
    position: absolute;
    top: 18%;
    left: 60%;
    animation-delay: 2s;
    font-size: 2em;
}

#center p {
    height: 45%;
}

#sun {
    height: 75%;
    width: 75%;
    top: 12.5%;
    left: 12.5%;
    background-image: radial-gradient(
        #fe0, #e60);
}

#contact {
    height: 10rem;
    width: 10rem;
    position: absolute;
    left: 15%;
    top: 60%;
}


#conta {
    height: 75%;
    width: 75%;
    position: absolute;
    top: 12.5%;
    left:12.5%;
    background-image: radial-gradient(
        #e33, #622);
}

#about {
    height: 12rem;
    width: 12rem;
    position: absolute;
    left: 30%;
    top: 15%;
    font-size: 1.2em;
    animation-delay: 1s;
    text-align: center;
}

#abou {
    height: 75%;
    width: 75%;
    top: 12.5%;
    left: 12.5%;
    background-image: radial-gradient(
        #ddd, #555);
}

#chronicle {
    height: 13rem;
    width: 13rem;
    position: absolute;
    left: 125%;
    top: 5%;
    font-size: 1.2em;
    animation-delay: 1s;
}

#chron {
    height: 75%;
    width: 75%;
    top: 12.5%;
    left: 12.5%;
    background-image: radial-gradient(
        #add, #599);
}

#farm {
    height: 10rem;
    width: 10rem;
    position: absolute;
    left: 100%;
    top: 30%;
}

#farmon {
    height: 75%;
    width: 75%;
    top: 12.5%;
    left: 12.5%;
    background-image: radial-gradient(
        #aad, #55a);
}

#wok {
    height: 8rem;
    width: 8rem;
    position: absolute;
    left: 113%;
    top: 70%;
    animation-delay: 2s;
}

#wokof {
    height: 75%;
    width: 75%;
    top: 12.5%;
    left: 12.5%;
    background-image: radial-gradient(
        #d60, #620);
}

.container>div {
    text-align: center;
    animation-name: wobble;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes wobble {
    0% {transform: translate(0)}
    25% {transform: translate(3px)}
    75% {transform: translate(-3px)}
}

form {
    margin:auto;
    width: 80%;
    text-align: right;
}

input, textarea {
    width: 80%;
    margin: 1em 1px 0 1px;
    padding: 1px;
    border: 1px solid gray;
}

textarea {height: 10em;}

#a1 {transform: rotate(-35deg)}
#a2 {transform: rotate(-25deg)}
#a3 {transform: rotate(-15deg)}
#a4 {transform: rotate(-5deg)}
#a5 {transform: rotate(5deg)}
#a6 {transform: rotate(15deg)}
#a7 {transform: rotate(25deg)}
#a8 {transform: rotate(35deg)}

#c0 {transform: rotate(-40deg)}
#c1 {transform: rotate(-30deg)}
#c2 {transform: rotate(-20deg)}
#c3 {transform: rotate(-10deg)}
#c4 {transform: rotate(0deg)}
#c5 {transform: rotate(10deg)}
#c6 {transform: rotate(20deg)}
#c7 {transform: rotate(30deg)}
#c8 {transform: rotate(40deg)}

#p1 {transform: rotate(-80deg)}
#p2 {transform: rotate(-75deg)}
#p3 {transform: rotate(-70deg)}
#p4 {transform: rotate(-65deg)}
#p5 {transform: rotate(-60deg)}
#p6 {transform: rotate(-55deg)}
#p7 {transform: rotate(-50deg)}
#p8 {transform: rotate(-45deg)}
#p9 {transform: rotate(-35deg)}
