body {
    margin: 0;
    overflow: hidden;
    font-family: 'Space Mono', monospace;
}

.header {
    height: 5vh;
    background: black;
    width: 150%;
}

.container {
    position: relative;
    margin: 0;
    height: 95vh;
    width: 150%;
    overflow: inherit;
    background: url("stars.png");
    background-size: cover;
}

.turntable {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    transition: all 2s;
}

.turntable p {
    margin: 0;
    position: absolute;
    left: 49%;
    bottom: 50%;
    transform-origin: 0 100%;
    height: 35%;
    text-shadow: 0 0 5px black;
}

.planet {
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    -moz-box-shadow: 2px 2px 3px #111, inset 0 0 10px #111;
    -webkit-box-shadow: 2px 2px 3px #111, inset 0 0 10px #111; 
    box-shadow: 2px 2px 3px #111, inset 0 0 10px #111;
}

.planet:hover {
    -moz-box-shadow: 0 0 10px #eee, inset 0 0 10px #111;
    -webkit-box-shadow: 0 0 10px #eee, inset 0 0 10px #111; 
    box-shadow: 0 0 10px #eee, inset 0 0 10px #111;
}

.planet div {
    display: none;
}

.content {
    margin: auto;
    border-radius: 2%;
    height: 50%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.5);
}
#blurb {
    position: absolute;
    text-align: center;
    margin: 5%;
    height: 80%;
    width: 50%;
    left: 45%;
    z-index: -1;
    transition: all 2s;
}

#center {
    height: 120vmin;
    width: 120vmin;
    position: absolute;
    left: 25%;
    animation-delay: 2s;
    font-size: 2em;
}

#center p {
    height: 30%;
}

#sun {
    height: 60vmin;
    width: 60vmin;
    top: 25%;
    left: 25%;
    background-image: radial-gradient(
        #fe0, #e60);
}

#contact {
    height: 40vmin;
    width: 40vmin;
    position: absolute;
    top: 55%;
}


#conta {
    height: 20vmin;
    width: 20vmin;
    position: absolute;
    top: 25%;
    left:25%;
    background-image: radial-gradient(
        #e33, #622);
}

#about {
    height: 50vmin;
    width: 50vmin;
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 1.2em;
    animation-delay: 1s;
}

#abou {
    height: 25vmin;
    width: 25vmin;
    top: 25%;
    left: 25%;
    background-image: radial-gradient(
        #ddd, #555);
}

#chronicle {
    height: 50vmin;
    width: 50vmin;
    position: absolute;
    left: 85%;
    top: -5%;
    font-size: 1.2em;
    animation-delay: 1s;
}

#chron {
    height: 25vmin;
    width: 25vmin;
    top: 25%;
    left: 25%;
    background-image: radial-gradient(
        #add, #599);
}

#ark {
    height: 40vmin;
    width: 40vmin;
    position: absolute;
    left: 70%;
    top: 25%;
}

#arkus {
    height: 20vmin;
    width: 20vmin;
    top: 25%;
    left: 25%;
    background-image: radial-gradient(
        #aad, #55a);
}

#wok {
    height: 40vmin;
    width: 40vmin;
    position: absolute;
    left: 78%;
    top: 65%;
    animation-delay: 2s;
}

#wokof {
    height: 20vmin;
    width: 20vmin;
    top: 25%;
    left: 25%;
    background-image: radial-gradient(
        #d60, #620);
}

.container>div {
    text-align: center;
    animation-name: wobble;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes wobble {
    0% {transform: translate(0)}
    25% {transform: translate(3px)}
    75% {transform: translate(-3px)}
    /*100% {transform: translate(0)}*/
}

#a1 {transform: rotate(-35deg)}
#a2 {transform: rotate(-25deg)}
#a3 {transform: rotate(-15deg)}
#a4 {transform: rotate(-5deg)}
#a5 {transform: rotate(5deg)}
#a6 {transform: rotate(25deg)}
#a7 {transform: rotate(35deg)}

#c0 {transform: rotate(-40deg)}
#c1 {transform: rotate(-30deg)}
#c2 {transform: rotate(-20deg)}
#c3 {transform: rotate(-10deg)}
#c4 {transform: rotate(0deg)}
#c5 {transform: rotate(10deg)}
#c6 {transform: rotate(20deg)}
#c7 {transform: rotate(30deg)}
#c8 {transform: rotate(40deg)}

#p1 {transform: rotate(-80deg)}
#p2 {transform: rotate(-75deg)}
#p3 {transform: rotate(-70deg)}
#p4 {transform: rotate(-65deg)}
#p5 {transform: rotate(-60deg)}
#p6 {transform: rotate(-55deg)}
#p7 {transform: rotate(-50deg)}
#p8 {transform: rotate(-45deg)}
#p9 {transform: rotate(-35deg)}
